{% extends "base.html" %}
{% block content %}

<div class="mdl-layout__container contact-form">
  <div class="content">
    <br>
    <br>
    <h4>
    Fiber was created in Fall 2015 as a class project for<br>COMS W4111: Introduction to Databases with<br>Professor Eugene Wu.
    <br>
    <br>
    The purpose of this podcast player is to demonstrate the use of a PostgreSQL database. We use Flask on the backend and the Google Material Design specification on the frontend. You can find more about the project requirements <a href="https://github.com/w4111/proj1part3">here</a>. Sign in to get started or sign up for an account with us.
    <br>
    <br>
    © Kunal Jasty and Anshul Gupta.
    </h4>
  </div>
</div>

{% endblock %}
