{% extends "base.html" %}
{% block content %}

<div class="mdl-layout__container contact-form">
  <h3>Contact Us</h3>
  <p>Feel free to get in touch with us here if you have any questions.</p>
  <form class="form-group" role="form" method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="mdl-textfield mdl-js-textfield">
      {{ form.name(class="mdl-textfield__input", type="text") }}
      <label class="mdl-textfield__label">Name</label>
    </div><br>
    <div class="mdl-textfield mdl-js-textfield">
      {{ form.email(class="mdl-textfield__input", type="text") }}
      <label class="mdl-textfield__label">Email</label>
    </div><br>
    <div class="mdl-textfield mdl-js-textfield">
      {{ form.subject(class="mdl-textfield__input", type="text") }}
      <label class="mdl-textfield__label">Subject</label>
    </div><br>
    <div class="mdl-textfield mdl-js-textfield">
    {{ form.message(class="mdl-textfield__input", type="text", rows=6) }}
    <label class="mdl-textfield__label">Message</label>
    </div><br>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">SUBMIT</button>
  </form>
</div>

{% endblock %}
