{% extends "base.html" %}
{% block content %}

<div class="home-wrapper">
  <video autoplay id="bgvid" loop>
  	<source src="static/assets/bg.mp4" type="video/mp4">
  </video>
  <div class="home-wrapper-text">
	  <h1>Discover your next podcast with us.</h1>
	  <a href="{{ url_for('signin') }}">
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored text">
	  	User Login
	  	</button>
  	  </a>
  	  <a href="{{ url_for('org') }}">
	  	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored text">
	  	Organization Login
	  	</button>
	  </a>
  </div>
</div>

{% endblock %}
