{% extends "base.html" %}
{% block content %}

<div class="mdl-layout__container contact-form">
  <h2>Welcome, {{ session['username']}}! </h2>

   <h6> Select your tags and get started on discovering podcasts: </h6>

    <div class="tags">
		{% for tag in all_tags %}
			<button class="mdl-button mdl-js-button mdl-button--primary tag" id="{{tag}}">
			  {{ tag }}
			</button>
		{% endfor %}
	</div>

   <script>
   var mytags = '{{ my_tags }}';
   console.log(mytags);
   window.tags = [];
   $(".tag").each(function(){
		if(mytags.indexOf($(this).attr('id')) > -1) {
				window.tags.push($(this).attr('id'));
				$(this).toggleClass('mdl-button--accent mdl-button--primary');
				$(this).addClass('selected-tag');
			}
	});
   </script>

   <br>
   <br>
   <br>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
    	id="tagSubmit">
    	SAVE CHOICES
    </button>
   <br>
   <br>
   <a href="{{ url_for('play') }}">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    	START LISTENING
    </button>
   </a>
</div>

{% endblock %}