{% extends "base.html" %}
{% block content %}

<div class="mdl-layout__container contact-form">
  <h3>Sign In</h3>
  <form class="form-group" role="form" method="POST" action="{{ url_for('signin') }}">

    {% for message in form.username.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
     
    {% for message in form.password.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {{ form.hidden_tag() }}
    <div class="mdl-textfield mdl-js-textfield">
      {{ form.username(class="mdl-textfield__input", type="text") }}
      <label class="mdl-textfield__label">{{ form.username.label }}</label>
    </div><br>
    <div class="mdl-textfield mdl-js-textfield">
      {{ form.password(class="mdl-textfield__input", type="password") }}
      <label class="mdl-textfield__label">{{ form.password.label }} (plaintext)</label>
    </div><br>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">SUBMIT</button>
  </form>
</div>

{% endblock %}